body {
    background-color: azure;
}

.dominos {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;

    .domino {
        margin: 11px;
        border: 2px solid darkslateblue;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        color: darkslateblue;
        font-size: 30px;
        font-weight: bold;
        
        .left-side {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 50px;
            width: 68px;
            border-right: 2px solid darkslateblue;
        }
        .right-side {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 50px;
            width: 70px;
        }
    }
}